<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
</head>
<body>
    <a href="/dashboard">Dashboard</a>
    <a href="/logout">Logout</a>
    <h1>Who liked <a href="/recipes/{{ recipe.id }}">{{ recipe.name }}</a>?</h1>
    <ul>
        {% for liker in recipe.likes %}
            <li>{{ liker.first_name }} {{ liker.last_name }}</li>
        {% endfor %}
    </ul>
</body>
</html>